.container-about{
    width: 100%;
    border: 1px solid rgb(172, 35, 190);
    min-height: 450px;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    overflow-y:visible;
    padding: 10px;
}

.logo{
    width: 25%;
    min-width: 207px;
    border-radius: 5%;
    border: rgb(255, 255, 255) solid 2px;
}

.text{
    width: 40%;
    min-width: 250px;
    max-width: 462px;
    height: auto;
    border: 1px solid rgb(155, 76, 158);
    border-radius: 10px;
    color: rgb(0, 0, 0);
    padding: 10px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bolder;
    margin-bottom: 10px;
    background-color: rgb(225, 182, 243);
}

