.imagen{
    width: 200px;
    height: 150px;
}

.cardd{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    color: aliceblue;
    font-family: 'Quicksand', sans-serif;
    padding: 10px;
}

.linkk{
    text-decoration: none;
    color: rgb(7, 159, 219);
    background-color: aliceblue;
    border: 1px solid seashell;
    padding: 8px;
    width: 100PX;
    border-radius: 100PX;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}

.paparra{
    margin-top: 30px;
}