.container-tecnologies{
    width: 100%;
    background-color: black;
    min-height: 450px;
    max-height: 525px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px;
    
}

.size{
    transition: transform .2s;
    margin: 10px;
}


.iconn{
    color: rgb(209, 84, 209);
    font-size: 70px;
    transition: transform .2s;
}


.iconn:hover{
    transform: scale(1.5);
    color: rgb(40, 238, 238);
}

@media screen and (max-width:674px){
    .size{
        
        margin: 15px;
    }
    
}

@media screen and (max-width:396px){
    .container-tecnologies{
        overflow-y: scroll;
    }
}

@media screen and (min-width:500px){
    .size{
        margin: 20px;
    }
}

@media screen and (min-width:550px){
    .size{
        margin: 30px;
    }
}

@media screen and (min-width:860px){
    .size{
        margin: 55px;
    }
}





@media screen and (min-width:1335px){
    .size{
        margin: 65px;
    }
}

@media screen and (min-width:1475px){
    .size{
        margin: 75px;
    }
}

@media screen and (min-width:1610px){
    .size{
        margin: 95px;
    }
}