.container-tecnologies{
    width: 100%;
    border: 1px solid rgb(169, 27, 173);
    min-height: 450px;
    max-height: 484px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px;
    
}

.size{
    
    margin: 10px;
}

.iconn{
    color: rgb(209, 84, 209);
    font-size: 70px;
}

@media screen and (max-width:674px){
    .size{
        
        margin: 10px;
    }
    .container-tecnologies{
        overflow-y: scroll;
        padding: 10px;
    }
}

@media screen and (min-width:700px){
    .size{
        margin: 20px;
    }
}

@media screen and (min-width:850px){
    .size{
        margin: 30px;
    }
}

@media screen and (min-width:1000px){
    .size{
        margin: 50px;
    }
}

@media screen and (min-width:1000px){
    .size{
        margin: 50px;
    }
}

@media screen and (min-width:1200px){
    .size{
        margin: 70px;
    }
}

@media screen and (min-width:1400px){
    .size{
        margin: 70px;
    }
}